WindowsPhone8/CSharp/Please2/Bin
WindowsPhone8/CSharp/Please2/obj
WindowsPhone8/CSharp/PlexiSDK/PlexiSDK/Bin
WindowsPhone8/CSharp/PlexiSDK/PlexiSDK/obj
WindowsPhone8/CSharp/PlexiSDK/UnitTest/Bin
WindowsPhone8/CSharp/PlexiSDK/UnitTest/obj
WindowsPhone8/CSharp/MediaViewer/Bin
WindowsPhone8/CSharp/MediaViewer/obj
