* {
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}
body {
	background-color: #000;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
	background-image: url('../img/please-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
}
.container {
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	// background-image: url('../img/please-bg.jpg');
	// background-repeat: no-repeat;
	// background-size: cover;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-image: url('../img/please-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,1);
	background-size: auto 90%;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.5);
	z-index: 99;
}
#wrapper {
	overflow: auto;
	position: absolute;
	top: 58px;
	bottom: 80px;
	left: 0;
	right: 0;
	-webkit-overflow-scrolling: touch;
}
.control {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	text-align: center;
	// background-image: url('../img/please-bottom.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	.micbutton {
		display: block;
		width: 100px;
		margin: 0 auto;
		cursor: pointer;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background-color: rgba(0,0,0,1);
			height: 100px;
			width: 100px;
			border-radius: 50%;
			z-index: -99;
			-webkit-box-shadow: 0 -4px 8px rgba(0,0,0,.5);
		}
	}
	&:before {
		content: "";
		position: absolute;
		left:0;
		right:0;
		bottom: 0;
		background-color: rgba(0,0,0,1);
		height: 80px;
		z-index: -99;
		-webkit-box-shadow: 0 -4px 8px rgba(0,0,0,.5);
	}
}
.bubble {
	width: 100%;
	margin: 0;
	padding: 24px;
	background-color: rgba(255, 255, 255, .75);
	border-bottom: 2px solid #000;
	font-weight: bold;
	&:first-of-type {
		border-top: 2px solid #000;
	}
}
.please {
	background-image: url('../img/please-p.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: auto 30px;
	padding-left: 40px;
	color: rgba(18,39,79,.8);
	text-shadow: 1px 1px 0px rgba(255,255,255,.8);
}
.owner {
	color: #000;
	text-align: right;
	text-shadow: 1px 1px 0px rgba(255,255,255,.8);
}