.template-data {
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 75px;
  max-height: 225px; }

.template-item {
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
  position: relative; }
  .template-item:last-child {
    border-bottom: none; }

.template-item-image {
  float: left;
  min-width: 100px; }
  .template-item-image img {
    width: 100%; }

.template-item-title {
  font-size: 1.125em;
  margin-bottom: 10px; }

.template-item-details {
  padding-left: 120px;
  vertical-align: top; }

.shopping-item:last-child {
  padding-bottom: 0; }

.shopping-price {
  font-weight: normal; }

.images {
  min-height: 200px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .images img {
    border: solid white 2px;
    box-shadow: 0 0 10px black;
    margin: 5px;
    max-width: 250px; }

.news-item {
  margin-bottom: 10px; }
  .news-item:last-child {
    margin-bottom: 0; }

.news-title, .news-summary {
  font-weight: normal; }

.news-title {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS'; }

.news-pubdate, .news-source {
  display: inline-block;
  width: 49%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding-top: 4px;
  margin-bottom: 6px; }

.news-pubdate {
  text-align: left; }

.news-source {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.news-summary {
  line-height: 20px; }

.flights {
  margin-top: 15px; }
  .flights h2, .flights h3, .flights h4 {
    margin: 0; }
  .flights h2 {
    font-size: 30px;
    text-align: center;
    line-height: 2.5em;
    color: #333; }
  .flights h3 {
    background-color: #cdcdcd;
    color: #343434;
    padding: 5px 15px; }
  .flights h4 {
    text-transform: uppercase;
    color: #b4b4b4;
    font-size: .875em; }
  .flights .formatted-time {
    display: block;
    font-size: 1.5em;
    color: #333; }
  .flights .formatted-date {
    font-size: .875em;
    font-weight: normal; }

.flight-info {
  padding: 10px; }

.flights-info-item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  color: #666; }

.flights-status {
  line-height: 1.5em;
  text-align: center;
  color: #333; }

.movie-item .template-item-details {
  padding-left: 140px; }

.movie-rating {
  border: 1px solid #ccc;
  padding: 4px; }

.movie-score {
  font-weight: normal; }

.event-item .template-item-details {
  padding-left: 140px; }

.event-image {
  min-height: 100px; }

.event-time, .event-address {
  font-weight: normal; }

.event-time {
  color: #999; }

.real-estate-item .template-item-details {
  padding-left: 120px; }

*, *:before, *:after {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Arial;
  padding: 0;
  margin: 0;
  background-color: #1f2122;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a img {
  border: none; }

div, p, input {
  margin: 0px; }

.wrapper {
  width: 480px;
  margin: 0 auto;
  text-align: left; }

.input-form.cancel .main-input {
  padding-right: 85px; }
.input-form.cancel .cancel-btn {
  right: 0; }

.main-input {
  font-size: 46px;
  padding: 7px 5px 7px 5px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #c5185e;
  box-shadow: 0 0 10px black;
  background-color: #1f2122;
  border: solid #1f2122 1px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  body.choice .main-input {
    left: 30%; }

.main-input:focus {
  outline: none; }

.cancel-btn {
  position: fixed;
  bottom: 0;
  right: -80px;
  background: #9a9a9a;
  color: rgba(31, 33, 34, 0.8);
  border-left: 1px solid #b3b3b3;
  width: 80px;
  font-size: 46px;
  padding: 7px 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 4px 6px #9a9a9a, 0 0 0 #000, 1px 4px 6px #9a9a9a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  overflow: auto; }
  body.choice .board {
    left: 30%; }

.list-slider {
  position: fixed;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  background: white;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 10px black; }
  body.choice .list-slider {
    width: 30%; }
  .list-slider li {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
    cursor: pointer; }
    .list-slider li:last-child {
      border: 0; }

.bubble {
  width: 100%;
  padding: 15px;
  color: black;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.in {
  background-color: #e2e2e2;
  text-align: right;
  color: #333; }

.out {
  background-color: white;
  color: #c5185e;
  text-align: left; }

.out ul {
  font-size: 16px;
  list-style-type: none;
  column-count: 5; }

.debug {
  margin-top: 10px; }
  .debug .underspeak {
    font-size: 14px;
    color: #555;
    font-weight: lighter;
    text-align: left; }
  .debug b, .debug strong {
    margin-left: 10px; }
    .debug b:nth-child(1), .debug strong:nth-child(1) {
      margin-left: 1px; }
  .debug .expand, .debug .simulate {
    border: solid #bbb 1px;
    background: #ddd;
    padding: 0 7px;
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer; }
  .debug .data {
    font-size: 12px;
    font-family: "Monaco", "Courier New", monospace;
    font-weight: normal;
    margin-top: 5px;
    color: #555;
    display: none;
    border-top: solid #ccc 1px;
    margin-top: 15px;
    padding-top: 10px;
    text-align: left; }
    .debug .data pre {
      white-space: pre;
      word-wrap: break-word;
      font-family: "Monaco", "Courier New", monospace;
      font-size: 14px; }

.extLink {
  display: block;
  text-align: right;
  color: #37c;
  font-size: .875em; }

.loader {
  position: absolute;
  left: 17px;
  bottom: 17px;
  z-index: 999;
  display: none; }

.webpage {
  padding: 20px;
  text-align: center;
  background: white; }
  .webpage iframe {
    width: 100%;
    min-height: 400px;
    border: solid #ccc 1px;
    box-shadow: inset 0 0 5px #ccc; }

.i {
  position: absolute;
  top: 9px;
  left: 9px;
  background: rgba(255, 255, 255, 0.1);
  color: #ccc;
  border-radius: 50px;
  padding: 3px 14px;
  border: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  z-index: 999999; }
  .i:hover {
    background: black; }

.init {
  position: absolute;
  top: 40%;
  width: 100%;
  color: #aaa;
  display: none;
  text-align: center; }
  .init h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 48px; }
  .init .subtitle {
    font-size: 14px; }

/********  PhoneGap only **********/
.control {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center; }
  .control .micbutton {
    display: block;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    position: relative; }
    .control .micbutton:before, .control .micbutton:after {
      content: "";
      position: absolute;
      background-color: #303336;
      height: 130px;
      width: 130px;
      z-index: -9;
      top: -15px;
      left: -15px;
      border-radius: 50%; }
    .control .micbutton:after {
      -webkit-box-shadow: 0 -2px 8px 5px rgba(0, 0, 0, 0.35);
      z-index: -999; }
  .control:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    top: -30px;
    height: 90px;
    z-index: -99; }
  .control:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    background-color: #303336;
    -webkit-box-shadow: 0 -2px 8px 5px rgba(0, 0, 0, 0.35);
    height: 85px;
    z-index: -99; }

.cf {
  *zoom: 1; }

.cf:before, .cf:after {
  content: "";
  display: table;
  line-height: 0;
  height: 0; }

.cf:after {
  clear: both; }
