.shopping {
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
	min-height: 75px;
	max-height: 225px;
}

.shopping-item {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0;
	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.shopping-image {
	display: block;
	float: left;
	width: 100px;
	img {
		width: 100%;
	}
}

.shopping-details {
	padding-left: 120px;
}

.images {
    //text-align: center;
    //padding: 5px;
    min-height: 200px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    img {
        border: solid white 2px;
        box-shadow: 0 0 10px black;
        margin: 5px;
        max-width: 250px;
    }
}