.template-data {
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
	min-height: 75px;
	max-height: 225px;
}

.template-item {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0;
	position: relative;
	&:last-child {
		border-bottom: none;
	}
}

.template-item-image {
	//display: inline-block;
	float: left;
	min-width: 100px;
	img {
		width: 100%;
	}
}

.template-item-title {
	font-size: 1.125em;
	margin-bottom: 10px;
}

.template-item-details {
	//display: inline-block;
	//margin-left: 20px;
	padding-left: 120px;
	vertical-align: top;
}

// SHOPPING STYLES
.shopping-item {
	&:last-child {
		padding-bottom: 0;
	}
}

.shopping-price {
	font-weight: normal;
}

// IMAGE STYLES
.images {
    //text-align: center;
    //padding: 5px;
    min-height: 200px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    img {
        border: solid white 2px;
        box-shadow: 0 0 10px black;
        margin: 5px;
        max-width: 250px;
    }
}

// NEWS STYLES
.news-item {
	margin-bottom: 10px;	
	&:last-child {
		margin-bottom: 0;
	}
}

.news-title, .news-summary {
	font-weight: normal;
}

.news-title {
	font-size: 20px;
	padding: 0;
	margin: 0;
	font-family: 'Trebuchet MS';
}

.news-pubdate, .news-source {
	display: inline-block;
	width: 49%;
	text-align: right;
	color: rgba(0,0,0,.6);
	font-size: 12px;
	padding-top: 4px;
	margin-bottom: 6px;
}

.news-pubdate {
	text-align: left;
}

.news-source {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.news-summary {
	line-height: 20px;
}

// FLIGHT STYLES
.flights {
	margin-top: 15px;

	h2, h3, h4 {
		margin: 0;
	}

	h2 {
		font-size: 30px;
		text-align: center;
		line-height: 2.5em;
		color: #333;
	}

	h3 {
		background-color: #cdcdcd;
		color: #343434;
		padding: 5px 15px;
	}

	h4 {
		text-transform: uppercase;
		color: #b4b4b4;
		font-size: .875em;
	}

	.formatted-time {
		display: block;
		font-size: 1.5em;
		color: #333;
	}

	.formatted-date {
		font-size: .875em;
		font-weight: normal;
	}
}

.flight-info {
	padding: 10px;
}

.flights-info-item {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	color: #666;
}

.flights-route {
	//background-color: #f1f1f1;
	//@include border-side-radius(5px, "top");
}

.flights-status {
	line-height: 1.5em;
	text-align: center;
	color: #333;
}

// MOVIE STYLES
.movie-item {
	.template-item-details {
		padding-left: 140px;
	}
}

.movie-rating {
	border: 1px solid #ccc;
	padding: 4px;
}

.movie-score {
	font-weight: normal;
}

// EVENT STYLES
.event-item {
	.template-item-details {
		padding-left: 140px;
	}
}

.event-image {
	min-height: 100px;
}

.event-time, .event-address {
	font-weight: normal;
}

.event-time {
	color: #999;
}

.real-estate-item {
	.template-item-details {
		padding-left: 120px;
	}
}
