/* line 1, /Users/rewis/Sites/please/assets/www/scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

/* line 6, /Users/rewis/Sites/please/assets/www/scss/main.scss */
body {
  background-color: #000;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  background-image: url("../img/please-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed; }

/* line 19, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.container {
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

/* line 30, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url("../img/please-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: auto 90%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 99; }

/* line 44, /Users/rewis/Sites/please/assets/www/scss/main.scss */
#wrapper {
  overflow: auto;
  position: absolute;
  top: 58px;
  bottom: 80px;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch; }

/* line 53, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.control {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  /* line 63, /Users/rewis/Sites/please/assets/www/scss/main.scss */
  .control .micbutton {
    display: block;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    position: relative; }
    /* line 69, /Users/rewis/Sites/please/assets/www/scss/main.scss */
    .control .micbutton:before {
      content: "";
      position: absolute;
      background-color: black;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      z-index: -99;
      -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); }
  /* line 80, /Users/rewis/Sites/please/assets/www/scss/main.scss */
  .control:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    height: 80px;
    z-index: -99;
    -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); }

/* line 92, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.bubble {
  width: 100%;
  margin: 0;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid black;
  font-weight: bold; }
  /* line 99, /Users/rewis/Sites/please/assets/www/scss/main.scss */
  .bubble:first-of-type {
    border-top: 2px solid black; }

/* line 103, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.please {
  background-image: url("../img/please-p.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: auto 30px;
  padding-left: 40px;
  color: rgba(18, 39, 79, 0.8);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }

/* line 112, /Users/rewis/Sites/please/assets/www/scss/main.scss */
.owner {
  color: #000;
  text-align: right;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
